.button0 {
    border: none;
    color: #fff;
    font-size: 1.2em;
    background: #27e;
    padding: 0.5em 0.75em 0.6em;
    border-radius: 3px;
    box-shadow: 0 3px 0 #05c;
    outline: none;
}

.button1 {
    border: none;
    color: #fff;
    font-size: 1.2em;
    background: #dc143c;
    padding: 0.5em 0.75em 0.6em;
    border-radius: 3px;
    box-shadow: 0 3px 0 #dc243c;
    outline: none;
}

.buttonDis {
    background-color: gray; 
    box-shadow: 0 3px 0 gray;

}

.buttonDone {
    background-color: green; 
    box-shadow: 0 3px 0 rgb(2, 78, 2);
}

input {
 border: none;
 color: #000;
 font-size: 1.2em;
 background: #676464;
 padding: 0.5em 0.75em 0.6em;
 border-radius: 3px;
 box-shadow: 0 3px 0 #05c;
 outline: none;
}
